div.dicebox {
	background-color: #FFF7DF;
	border: 1px solid #47751D;
}

div.dicetop {
	border-bottom: 1px solid #47751D;
}

blockquote {
	background: #ff8c28 6px 8px no-repeat;
	background-image: url("./images/quote.gif");
}

blockquote,
blockquote blockquote blockquote,
blockquote blockquote blockquote blockquote blockquote,
blockquote blockquote blockquote blockquote blockquote blockquote blockquote,
blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote,
blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote
{
	background-color: #ff8c28;
}

blockquote blockquote,
blockquote blockquote blockquote blockquote,
blockquote blockquote blockquote blockquote blockquote blockquote,
blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote,
blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote
{
	background-color: #f29340;
}

.postprofile {
	border: none;
}

.glow {
	background: no-repeat 0 -7px url('./images/logo-text-bg.png');
}

.site_logo {
	width: 80px;
	height: 90px;
	background-size: contain;
	background-repeat: no-repeat;
}

.post {
	padding: 20px;
}

input {
	background-color: #FFFFFF;
	border-color: #ae5100;
	color: #222;
	border: 1px solid;
}
input:focus,
input:hover {
	border-color: #c2020a;
}

.activity-overview th span {
	color: #d95c11;
}

a.forumtitle {
	color: #a20000;
	font-size: 145%;
	font-family: "URW Palladio L Bold", "Palatino Linotype", "Book Antiqua", serif;
}

a.forumtitle:hover {
	color: #5e0000;
}

a.topictitle {
	color: #6d1500;
}

a.topictitle:hover {
	color: #a20000;
}


@media (min-width: 701px) {
	.post-buttons .post-button-pm-mobile {
		display: none;
	}
}
