# MS Deployment environment
MAFIASCUM_ENVIRONMENT=staging
MAFIASCUM_BACKUP_PASSWORD=
MAFIASCUM_SITE_CHAT_URL=
# FQDNs
ROOT_FQDN=
WWW_FQDN=
WIKI_FQDN=
FORUM_FQDN=
SITECHAT_FQDN=
# Certbot
CERTBOT_EMAIL=
IS_STAGING=0
# AWS Creds
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BACKUP_BUCKET=
# Apache
APACHE_HTTP_PORT_NUMBER=8080
APACHE_HTTPS_PORT_NUMBER=8443
APACHE_LOG_DIR=/opt/bitnami/apache/logs
PHPBB_SKIP_BOOTSTRAP=yes
PHPBB_COOKIE_SECURE=no
PHPBB_FORUM_SERVER_PROTOCOL=http://
PHPBB_DISABLE_SESSION_VALIDATION=false
# Use an existing database
PHPBB_DATABASE_HOST=database
PHPBB_DATABASE_PORT_NUMBER=3306
PHPBB_DATABASE_NAME=ms_phpbb3
WIKI_DATABASE_NAME=ms_mediawiki
PHPBB_DATABASE_USER=root
# should match each other
PHPBB_DATABASE_PASSWORD=
MYSQL_ROOT_PASSWORD=
# end should match each other
# More DB Settings
MYSQL_INNODB_BUFFER_POOL_SIZE=1G
ALLOW_EMPTY_PASSWORD=no
# Sphinx
SPHINX_HOST=0.0.0.0
SPHINX_ID=
# SMTP Configuration
# To configure phpBB to send email using SMTP you can set the following environment variables:
# PHPBB_SMTP_HOST=SMTP host.
# PHPBB_SMTP_PORT=SMTP port.
# PHPBB_SMTP_USER=SMTP account user.
# PHPBB_SMTP_PASSWORD=SMTP account password.
# PHPBB_SMTP_PROTOCOL=SMTP protocol.
# PHP configuration
PHP_MEMORY_LIMIT=256M
# PHP_MAX_EXECUTION_TIME=Maximum execution time for PHP scripts. No default.
# PHP_MAX_INPUT_TIME=Maximum input time for PHP scripts. No default.
# PHP_MAX_INPUT_VARS=Maximum amount of input variables for PHP scripts. No default.
# PHP_MEMORY_LIMIT=Memory limit for PHP scripts. Default=256M
# PHP_POST_MAX_SIZE=Maximum size for PHP POST requests. No default.
# PHP_UPLOAD_MAX_FILESIZE=Maximum file size for PHP uploads. No default.
#Debug
BITNAMI_DEBUG=false