version: '3.3'
services:
    nginx:
        image: nginx
        ports:
            - 80:80
            - 443:443
        depends_on:
            - web
        env_file:
            - .env
        volumes:
            - ./nginx.conf:/etc/nginx.conf
            - ./nginx-dev/cert:/etc/nginx/certs
            - ./nginx-dev/sites:/etc/nginx/templates
    web:
        build: 
            context: ./web
            args:
                PHP_INI_DEVELOPMENT: true
        restart: always
        depends_on:
            - database
        env_file:
            - .env
        volumes:
            - wiki_data:/data/wiki
            - phpbb_data:/data/forum
            - access_logs:/etc/apache2/logs
            - ./web/apache/httpd.conf:/etc/apache2/conf-enabled/httpd.conf
            - ./web/apache/usertrack.conf:/etc/apache2/conf-enabled/usertrack.conf
            - ./web/apache/remoteip.conf:/etc/apache2/conf-enabled/remoteip.conf
            - ./web/extensions:/mafiascum/extensions
            - ./web/styles:/mafiascum/styles