RewriteEngine On
RewriteRule ^dontpanic.html(.*)$ https://%{HTTP_HOST}/dontpanic.php$1 [R=301,L]
RewriteRule ^donation.html(.*)$ https://%{HTTP_HOST}/donation.php$1 [R=301,L]
RewriteRule ^cardlist.htm(.*)$ https://%{HTTP_HOST}/cardlist.php$1 [R=301,L]
RewriteRule ^cards.htm(.*)$ https://%{HTTP_HOST}/cards.php$1 [R=301,L]
RewriteRule ^cardlist.htm(.*)$ https://%{HTTP_HOST}/cardlist.php$1 [R=301,L]
RewriteRule ^tshirt.htm(.*)$ https://%{HTTP_HOST}/tshirt.php$1 [R=301,L]
RewriteRule ^replacementform/index.html(.*)$ https://%{HTTP_HOST}/replacementform/index.php$1 [R=301,L]
RewriteRule ^Forum(.*)$ https://%{ENV:FORUM_FQDN}$1 [R=301,L]
RewriteRule ^Cards(.*)$ https://%{ENV:WIKI_FQDN}/index.php?title=Cards [R=301,L]

RewriteCond %{REQUEST_URI} ^/wiki$ [OR]
RewriteCond %{REQUEST_URI} ^/wiki/.*$
RewriteRule ^wiki/?(.*)$ https://%{ENV:WIKI_FQDN}/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/forum$ [OR]
RewriteCond %{REQUEST_URI} ^/forum/.*$
RewriteRule ^forum/?(.*)$ https://%{ENV:FORUM_FQDN}/$1 [R=301,L]

## Force slash at end of any /social-games requests, except for filename URIs
RewriteCond %{REQUEST_URI} !\.[a-zA-Z0-9\-_]+$
RewriteCond %{REQUEST_URI} ^/social-games/(.*?)$
RewriteRule ^(.*)([^/])$        https://%{ENV:WWW_FQDN}/$1$2/ [L,R=301]

## Reverse proxy requests to social games container
RewriteCond %{REQUEST_URI} ^/social-games/(.*?)$
RewriteRule ^social-games/?(.*)$ http://social-games/$1 [QSA,L,P]

RewriteRule ^metrics/(.*)$ https://%{ENV:AWS_STATIC_BUCKET}.s3.amazonaws.com/www/metrics/$1 [R=301,L]