<form id="votecount-form" onsubmit="return false;">
    <fieldset>
        <dl>
            <dt>
                <label for="votecount-as-at">As at post # <em>(leave blank for latest)</em>:</label>
            </dt>
            <dd>
                <input type="number" id="votecount-as-at" name="as_at" class="inputbox" min="1" />
            </dd>
        </dl>
        <p class="submit-buttons">
            <input type="button" class="button1" value="Generate" onclick="generateVotecount('{{ U_GENERATE_VOTECOUNT }}')" />
        </p>
    </fieldset>
</form>

<textarea id="votecount-output" class="inputbox" rows="15" style="width:100%;margin-top:1em;font-family:monospace;" readonly></textarea>

