.vla {
	background-image: url("./icon_user_vla.png");
	background-repeat: no-repeat;
	background-position: right top;
}
.birthday {
	content: url("./icon_birthday.png");
}
.scumday {
	content: url("./icon_scumday.png");
}