<!-- IF S_USER_LOGGED_IN and U_MAF_TOPIC_TOGGLE_EVERYWHERE_HIDE -->
	<li>
		<a href="{U_MAF_TOPIC_TOGGLE_EVERYWHERE_HIDE}" title="<!-- IF MAF_TOPIC_EVERYWHERE_HIDDEN -->{L_MAF_UNHIDE_EVERYWHERE}<!-- ELSE -->{L_MAF_HIDE_EVERYWHERE}<!-- ENDIF -->">
			<i class="icon <!-- IF MAF_TOPIC_EVERYWHERE_HIDDEN -->fa-eye<!-- ELSE -->fa-eye-slash<!-- ENDIF --> fa-fw" aria-hidden="true"></i><span><!-- IF MAF_TOPIC_EVERYWHERE_HIDDEN -->{L_MAF_UNHIDE_EVERYWHERE}<!-- ELSE -->{L_MAF_HIDE_EVERYWHERE}<!-- ENDIF --></span>
		</a>
	</li>
<!-- ENDIF -->
<!-- IF S_USER_LOGGED_IN and U_MAF_TOPIC_TOGGLE_EGOSEARCH_HIDE -->
	<li>
		<a href="{U_MAF_TOPIC_TOGGLE_EGOSEARCH_HIDE}" title="<!-- IF MAF_TOPIC_EGOSEARCH_HIDDEN -->{L_MAF_UNHIDE_FROM_EGOSEARCH}<!-- ELSE -->{L_MAF_HIDE_FROM_EGOSEARCH}<!-- ENDIF -->">
			<i class="icon <!-- IF MAF_TOPIC_EGOSEARCH_HIDDEN -->fa-eye<!-- ELSE -->fa-eye-slash<!-- ENDIF --> fa-fw" aria-hidden="true"></i><span><!-- IF MAF_TOPIC_EGOSEARCH_HIDDEN -->{L_MAF_UNHIDE_FROM_EGOSEARCH}<!-- ELSE -->{L_MAF_HIDE_FROM_EGOSEARCH}<!-- ENDIF --></span>
		</a>
	</li>
<!-- ENDIF -->
