server {
    listen 443 ssl;
    server_name ${WIKI_FQDN};

    ssl_certificate /etc/letsencrypt/live/${WIKI_FQDN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${WIKI_FQDN}/privkey.pem;

    location / {
        proxy_set_header HOST $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_pass http://web-cluster;
    }
}