<!-- IF S_VOTECOUNTER_PANEL -->
<div class="panel bg3" id="votecounter-panel">
    <div class="inner">
        <div class="content">
            <fieldset class="fields2">
                <legend>{{lang("TEST")}}</legend>
                <dl>
                    <dt>
                        <label for="votecounter">
                            {{lang("TEST")}}
                        </label>
                    </dt>

                    <dd>
                        <input type="text" name="votecounter" id="votecounter" />
                    </dd>
                </dl>
            </fieldset>
        </div>
    </div>
</div>
<!-- ENDIF -->
