.post:not(.pm) .profile-banner:not(.visible) {
	display: none;
}

@media (min-width: 700px) {
	.post:not(.pm) .profile-banner.mobile-only {
		display: none;
	}
}
@media (max-width: 699px) {
	.post:not(.pm) .profile-banner:not(.mobile-only) {
		display: none;
	}
	.postprofile dd.profile-banner.mobile-only.visible {
		display: block;
		margin: 2px 0 0;
		line-height: 1;
	}
	.postprofile dd.profile-banner.mobile-only.visible br {
		display: none;
	}
	.postprofile dd.profile-banner.mobile-only.visible img {
		max-height: 16px;
		width: auto;
		vertical-align: middle;
		margin-right: 3px;
	}
}
